#teamnav{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#itemnavteam a{
    color: #1c3f94;
    /* text-decoration: none; */
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
body{
  background-color: #F4F4F4;
}
.warningbut{
  width:15%;
  height:40px;
  background-color:#1A5491;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border:none;
  border-radius:10px;

}
.tab-content{
  width: 85%;
}
.dropdown3 {
  position: relative;
  display: inline-block;
}
#editesss{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#welcometext{
  position: absolute;
  bottom: 60%;
  right: 3%;
  /* height: 105px; */
  width: 42%;
  font-size: 48px;
  /* background-color: black; */
  opacity: 0.5;
  color: #201ed0;
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown3-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown3:hover .dropdown3-content {
  display: block;
}
.dropdown3:hover {
  cursor: pointer;
}

.active{
    color: #CA5152;
    text-decoration: none;
  }
  #navmaiteam{
      background-color: #1A5491;
    
  }
#itemnavteam{
    float: right;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12%;
}
.container1 {
    position: relative;
    font-family: Arial;
  }
  .text-block {
    position: absolute;
    bottom: 29%;
    right: 14%;
    height: 105px;
    width: 27%;
    /* background-color: #353b6f; */
    opacity: 0.9;
    color:  #353b6f;
    padding-left: 20px;
    padding-right: 20px;
  
  }
  #text-block {
    position: absolute;
    bottom: 29%;
    right: 14%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 27%;
    height: 105px;
  }
  #signteam:hover a{

border:2px solid  #353b6f;
transform: scale(1.09);
font-size: 15px;
font-weight: 600;
  }
  #signteam{
      width: 40%;
  }
  #signteam a{
 
      -webkit-box-shadow: 0px 0px 8px -1px rgba(26,84,145,1);
      -moz-box-shadow: 0px 0px 8px -1px rgba(26,84,145,1);
      box-shadow: 0px 0px 8px -1px rgba(26,84,145,1);
    
      text-decoration: none;
      border: 2px solid #1a5491;
      height: 40px;
      width: 115%;
      color: #1a5491;
      /* background-color: #1a5491; */
      display: flex;
      /* -webkit-box-shadow: 0px 0px 10px 0px rgba(26,84,145,1); */
      -moz-box-shadow: 0px 0px 10px 0px rgba(26,84,145,1);
      /* box-shadow: 0px 0px 10px 0px rgba(26,84,145,1); */
      align-items: center;
      justify-content: center;
      border-radius: 10px;
  }
  #teamfree{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      font-weight: 400;
      padding-bottom: 5%;
  }
 #teamnav a{
     color: #FFF;
 }
 #homeimgteam{
  width: 55%;
    height: 50vw;
    padding-left: 1%;
 }
#textmaint{
  font-size: 16px;
  width: 80%
}
#textmaint1{
  font-size: 29px;
  width: 80%
}
#textmaint1{
width: 100%;
}
#stnav a{
color: #1c3f94;
}
#stnav:hover{
background-color: #1c3f94;
border-color: #FFF;
}
#stnav:hover a{
color: #fff;
}
#colprofiletem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
#divfilter{
  background-color: #FFF;
  width: 90%;
  min-height: 428px;
  /* min-height: auto; */
  /* margin-top: 50%; */
  box-shadow: 0 1px 10px rgba(95, 95, 95, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 28px;
}
#colfilter{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 400px;
  margin-top: 4%;
}
#colpost{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
    margin-top: 4%;
}
#colpost23{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
    /* margin-top: 6%; */
}
#mainpost{
  background-color: #FFF;
  width: 85%;
  min-height: 300px;
  /* margin-top: 5%; */
  box-shadow: inset 0px 0px 1px 0px rgb(26, 84, 145);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
 margin-bottom: 5%;
 /* margin-top: 5%; */
}
#mainpostadvertise{

  padding-top: 10px;
  width: 65%;
  min-height: 300px;
  box-shadow: 0 1px 6px 1px rgba(26, 84, 145, 0.44);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;

}



#abbcom{
  position: relative;
  background-color: #3F4045;
  min-height: 150px;
  width: 100%;
  z-index: 1;
  bottom: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
#eduction{
  width: 100%;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  padding: 15px;
  color: #0617ff;
}
#filtercomp{
  margin: 10px;
}
#postimg2{
  height: 150px;
}

#adver{
  background-color: #FFF;
  width: 85%;
  min-height: 300px;
  /* margin-top: 7%; */
  box-shadow: 0 1px 10px rgba(95, 95, 95, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin-bottom: 5%;
 /* margin-top: 5%; */
}
#imgcom{

  height: 150px;
  width: 150px;
  z-index: 2;
  /* position: relative; */
  /* bottom: -40%; */
  /* right: 216%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 300px;
}

#abbimg{
  margin-top: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  width: 85%;
  line-height: 24px;
  font-size: 24px;
  z-index: 2;
  position: relative;
  bottom: 195px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0px;
}
#abbtext{
  /* margin-top: 10px; */
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  width: 85%;
  line-height: 24px;
 
  z-index: 2;
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0px;

}
#filtermodel{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 70px;
}
#aplay{
  width: 50%;
  border: 2px solid #1A5491;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
#aplay:hover{
background-color: #1A5491;
color: #fff;
cursor: pointer;
transform: scale(1.2);
}
#aplay_user{
  width: 30%;
  border: 2px solid #1A5491;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

#aplay_user:hover{
background-color: #1A5491;
color: #fff;
transform: scale(1.2);
cursor: pointer;

}
#aplay_user a{
  text-decoration: none;
  color: black;
}

#advertisemain{
  width:100%;
  display:flex;
  flex-direction: column;
}

#advertisemain1{
  width:100%;
  display:flex;
 padding-left: 10%;
 justify-content: space-around;
}



#filterhome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
margin-top: 7%;

}
#carduserff{
  min-height: 150px;
  width: 100%;
  box-shadow: 0px 0px 4px 0px rgba(61, 122, 177, 0.36);
  display: flex;
  align-items: center;
 padding-left: 2%;
margin-bottom: 5%;
}
#carduserff3e3e{
  min-height: 150px;
  width: 70%;
  box-shadow:0px 1px 11px 0px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
 padding-left: 2%;
margin-bottom: 5%;
}




#carduserff2{
  display: flex;
 
  align-items: center;
width: 100%;

 padding-right: 10px;
  
 
}
#userpro1{
  width: 70%;
}
#colusercc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0600ff;
  background-color: #e9ff659e;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  border: 1px solid #b5414100;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A5491;
  font-weight: 500;
  font-size: 20px;
}
.nav-tabs {

  margin-bottom: 10px;
}
#rej:hover{
transform: scale(1.2);
cursor: pointer;
}
#trash:hover{
  transform: scale(1.2);
  cursor: pointer;
}
#date_user1{
  width: 100%;
  display: flex;
  justify-content: space-between
} 

.css-69cngj:not([disabled]):not([data-disabled]):active, 
[data-css-69cngj]:not([disabled]):not([data-disabled]):active, 
.css-69cngj:not([disabled]):not([data-disabled])[aria-expanded="true"],
 [data-css-69cngj]:not([disabled]):not([data-disabled])[aria-expanded="true"],
  .css-69cngj:not([disabled]):not([data-disabled])[data-active], [data-css-69cngj]:not([disabled]):not([data-disabled])[data-active]{
    background-color: #FFF;
  }


  .form-control{
    height: 40px;
  }

 @media (max-width: 575.98px) { 
  #abbimg{
align-items: center;
justify-content: center;
  }
   #s2drv{
     font-size: 12px;
   }
   #nbhk{
     font-size: 15px;
   }
   #filrow1cooo{
     margin-top: 25%;
   }
   #find_usermwil{
     font-size: 15px;
   }
  #dds {
    margin-right: 0;
  }
   #date_user1{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   .📦h_180px  .📦w_280px{
     width: 100%;
   }
  .📦w_280px{
    width: 50%;
  }
  #mainpostadvertise{
width: 80%;
  }
   #imguse1{
     padding-top: 5px;
   }
   #user_row{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    
   }
  #job2w3{
    display: flex;
    flex-direction: column;
  }
  #carduserff3e3e{
    width: 90%;
  }
   #carduserff2{
     flex-direction: column;
     width: 100%;
   }
   #advertisemain1{
     flex-direction: column;
   }
  .warningbut{
    width:50%;
  }
  #userpro1{
    width: 96%;
  }
   #rowcom{
     padding-top: 13%;
   }
   #signteam{
padding-bottom: 10px;
width: 245%;
   }
   #signteam a {
height: 32px;
width: 100%;
   }
 
  #teamnav{
    padding-bottom: 15px;
  }
   #filrow1{
     padding-top: 15%;
   }
   #filrow12{
    padding-top: 5%;
  }
  #postimg2 {
    height: 100px;
}
   #colprofiletem{
     display: none;
   }
   #colfilter{
     display: none;
   }
  #textmaint{
    font-size: 12px;
  }
  #textmaint1{
    font-size: 18px;
  }
   #maincolte1{
     padding-bottom: 12%;
   }
  #itemnavteam{
    width: 50%;
    padding-right: 0%;
 }
 #homeimgteam{
  height: 60vw;
}
#text-block {
    /* width: 80%; */
    right: 12%;

  font-size: 10px;
  bottom: 19%;
  height: 50px;
  display: flex;
  flex-direction: column;
}


#welcometext{
  font-size: 12px;
  bottom: 66%;
}
#mainpost{
  margin-top: 5%;
}
 }




 @media (min-width: 576px) and (max-width: 767.98px) { 
  #abbimg{
    align-items: center;
    justify-content: center;
      }
  #filrow1cooo{
    margin-top: 18%;
  }
  #imguse1{
    padding-top: 5px;
  }
  #user_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
   #job2w3{
     display: flex;
     flex-direction: column;
    
   }
   #carduserff2{
    flex-direction: column;
    width: 100%;
  }
  .warningbut{
    width:35%;
  }
  #rowcom{
    padding-top: 10%;
  }
  #filrow1{
    padding-top: 14%;
  }

  #postimg2 {
    height: 160px;
}
  #colprofiletem{
    display: none;
  }
  #colfilter{
    display: none;
  }
  #maincolte1{
    padding-bottom: 12%;
  }
  #itemnavteam{
    width: 40%;
 }
 #mainpost{
   margin-top: 5%;
 }
 #homeimgteam{
  height: 45vw;
}
#text-block {
  width: 50%;
  right: 1%;
  font-size: 10px;
  bottom: 19%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.text-block {
 width: 55%;
 right:25%;
 bottom: 18%;
}
#welcometext{
  font-size: 20px;
  bottom: 66%;
}

#teamnav{
  padding-bottom: 15px;
}
#signteam{
  padding-bottom: 10px;
     }
     #signteam a {
  height: 32px;
  width: 100%;
     }
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
  #filrow1cooo{
    margin-top: 15%;
  }
  #imguse1{
    padding-top: 5px;
  }
  #user_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
   #job2w3{
     display: flex;
     flex-direction: column;
    
   }
  #itemnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#teamnav{
  padding-bottom: 15px;
}
#ssteamnav {
  flex-direction: column;
}
  #mainpost{
    margin-top: 5%;
  }
  #divfilter{
    margin-top: 10%;
  }
  #postimg2{
    height: 160px;
  }
  #colprofiletem{
    display: none;
  }
  #filrow1{
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }
  #filrow12{
    display: flex;
    justify-content: center;
 
  }
  #maincolte1{
    padding-bottom: 10%;
  }
  #itemnavteam{
    width: 35%;
 }
 #homeimgteam{
  height: 54vw;
}
#text-block {
  display: flex;
  width: 45%;
  right: 4%;
  flex-direction: column;

}


#filtermodel{
  display: none;
    }
    #welcometext{
      font-size: 35px;
    }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) {
  #filrow1cooo{
    margin-top: 12%;
  }
  #itemnavteam{
    width: 30%;
 }
 #homeimgteam{
   height: 45vw;
 }
 #text-block {
   width: 35%}

.text-block {
  width: 35%}
  #postimg2 {
    height: 150px;
}
#filrow1{
  padding-top: 10%;
}
#filrow12{
  padding-top: 1%;
}
#filtermodel{
  display: none;
    }
#itemnav{
width: 30%;
}
#welcometext{
  font-size: 35px;
}
}


 @media (min-width: 1200px) { 
  #filrow1cooo{
    margin-top: 10%;
  }
  #filtermodel{
display: none;
  }
  #filrow1{
    padding-top: 10%;
  }
  #filrow2{
    padding-top: 5%;
  }
 }